@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// styles.css
.bg-primary {
  background-color: #1C1C1F;
}

.button-primary {
  background-color: #7F5AF0;
  color: white;
  border-radius: 6px;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid #7F5AF0;
  color: white;
}

.cropper-grid {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

.slider {
  background-color: #fff;
  height: 4px;
  border-radius: 2px;
}